#schedule, #processing {
  table {
    width: 50%;

    th:first-child {
      width: 10%;
    }

    th:last-child {
      width: 25%;
    }

    td:first-child {
      text-align: center;
    }

    td:last-child {
      text-align: right;
    }

    a {
      width: 6.4em;
    }

    a:hover {
      display: inline-block;
    }
  }
}

#sub-nav-schedule {
  display: flex;
  justify-content: space-between;
}
