<nav>
    <ul class="sidebar-menu">
        <Feature Name="Scheduler">
            <li><a href="/schedule"><i class="fas fa-calendar-alt"></i> Schedule</a></li>
            <li><a href="/processing"><i class="fas fa-microchip"></i> Processing Team</a></li>
        </Feature>
        <li><a href="/clients"><i class="fas fa-users"></i> <span>Client List</span></a></li>
        <li><a href="/clients?isActive=false&isArchived=true"><i class="fas fa-archive"></i> <span>Client Archive</span></a></li>
        <li><a href="/allocations"><i class="fas fa-drafting-compass"></i> <span>Output Ranges</span></a></li>
        <li><a href="/history"><i class="fas fa-history"></i> <span>History</span></a></li>
        <li><a href="/logout"><i class="fas fa-door-open"></i> <span>Logout</span></a></li>
    </ul>
</nav>
