//ata-numeric {

    ata-numeric .input-group input {
        text-align: right;
    }

    .input-group span {
        width: 1em;
        height: 1.5em;
    }

    .input-group span svg {
        height: 1.2em;
        margin-top: 0.15em;
    }
//}