@import "variables";
@import "styleUtils/mixins";

// svg fill path in main style due to limitation of ::slotted
.panel {
  display: flex;
  flex-direction: column;
  @include shadow();

  .title {
    padding: 0.5em;
    background-color: $ata-orange;
    color: #ffffff;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
  }

  .panelContent {
    padding: 1em;
    background-color: #ffffff;
  }
}

svg[slot="icons"] {
  width: 1em;
  margin-left: 0.4em;
  cursor: pointer;
}
